body {
    font-family: Montserrat, sans-serif;
    color: #EAE0CF;
}

.hero-section {
    padding: 100px 0;
    text-align: center;
    display: flex;
    align-items: center;
    min-height: 60vh;

}
.hero-section h1 {
    font-weight: 500;
}

.profile-image {
    /*make the profile picture circular and responsive*/
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin: 20px 0;

}

.gradient-background {
    /*use a gradient backgrund in radial style for the hero section that moves constantly in a loop animation*/
    background: radial-gradient(circle, #4B5694, #7288AE, #111844);
    background-size: 400% 400%;
    animation: gradientAnimation 10s ease infinite;

}

.about-section {
/* Use cards to showcase my projects in the Projects Section.*/
    background-color: #111844;
    padding: 50px 0;
    text-align: center;
}

.projects-section {
    color: #4B5694;
    background-color: #EAE0CF;
    font-weight: 500px
}

#projects .card {
    background-color: #111844;
    border: none;
    text-align: center;
}

.resume-section {
    background-color: #eae0cfde;
    color: #4B5694;
    padding: 50px 0;
    text-align: center;
}

.contact-section {
    background-color: #eae0cf98;
    color: #4B5694;
    padding: 60px 0;
    text-align: center;
}

.footer-section{
    /* We add a gradient background similar to the hero section but with a different color scheme and a slower animation speed.*/
    background: radial-gradient(circle, #7288AE, #4B5694, #bdbeb4);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
    color: #EAE0CF;
    padding: 20px 0;
    text-align: center;
}