body {
    font-family: Montserrat, sans-serif;
    color: #EAE0CF;
}

.hero-section {
    padding: 100px 0;
    text-align: center;
    display: flex;
    align-items: center;
    min-height: 60vh;

}

.hero-section h1 {
    font-weight: 500;
}


.profile-image {
    max-width: 200px;
    height: auto;
    border-radius: 50%;
    margin: 20px 0;
}

.gradient-background {
    /*use a gradient backgrund in radial style for the hero section*/
    background: radial-gradient(circle, #4B5694, #7288AE, #111844);
}

.about-section {
    background-color: #111844;
    padding: 50px 0;
    text-align: center;
}

.projects-section {
    color: #4B5694;
    background-color: #EAE0CF;
    font-weight: 500px
}


#projects .card {
    background-color: #111844;
    border: none;
    text-align: center;
}

.resume-section {
    background-color: #eae0cfde;
    color: #4B5694;
    padding: 50px 0;
    text-align: center;
}

.contact-section {
    background-color: #eae0cf98;
    color: #4B5694;
    padding: 60px 0;
    text-align: center;
}

.footer-section{
    background-color: #7288AE;
    color: #EAE0CF;
    padding: 20px 0;
    text-align: center;
}